:root {
    --dark: #7c664e;
    --light: #fff6b6;
    --pastel_orange: #f8da92;
    --pastel_brown: #e0c699;
    --nav_pad: 70px;
    --darkness: 0.05;
}

/* <----------------------------------------- General -----------------------------------------> */

html {
    scroll-snap-type : y mandatory;
}
body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;
    padding: 70px 20px 0px 20px;
    flex-wrap: wrap;
}

section::before, section::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    z-index: 1;
    pointer-events: none;
}

section::before {
    top: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

section::after {
    bottom: 0;
}

h1, h2 {
    margin: 0;
    font-size: 4rem;
    text-align: center;
}

p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 20px auto;
}

/* <----------------------------------------- Navbar -----------------------------------------> */
nav {
    position: fixed; /* Fix navbar at the top */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's on top of other elements */
    /* border-radius: 15px; */
    background: var(--pastel_brown);
    /* background: linear-gradient(90deg, var(--dark), var(--pastel_brown)); */
    border: 2px solid white;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none; /* Remove dots from ul */
    margin-bottom: 0;
    padding: 0 20px;
}

nav li {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    height: 100%;
    width: 80px; /* Fixed width to prevent movement */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    white-space: nowrap; /* Prevent text from wrapping */
}

nav a .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
}

nav a .text {
    display: none;
}

nav a:hover .text {
    display: inline;
}

nav a:hover img {
    display: none;
}

nav img {
    height: 60%;
    max-height: 50px; /* Ensure a maximum height */
    width: auto;
}

nav .linkedin img {
    height: 80%;
}

nav .tools img {
    height: 50%;
}

nav .about img {
    height: 70%;
}

nav a:hover {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

nav li.stayOnMobile {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 150px;
    z-index: 999;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left:0px;
    padding-left:0px;
}

.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}

.sidebar img {
    height: 50px;
}

.menuButton {
    display: none;
}

/* <----------------------------------------- Title page -----------------------------------------> */

.parallax {
    position: relative;
    overflow: hidden;
}


.title div>h1 {
    font-size: 5rem;
    font-weight: 600;
    padding: 0 40px;
    color: black;
    animation: pulse 3s infinite;
}


.title {
    /* Height and width: */
    height: 100vh;
    width: 100%;
    /* Display properties: */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Adding bg image: */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    z-index: 0;
} */


.title div {
    width: 50%;
    padding: auto;
}

.title .text {
    /* Ensure text is above the image */
    z-index: 1;
    text-align: center;
}

.title .photo {
    /* Ensure image is below the text */
    z-index: 0;
    /* background: rgba(255, 255, 255, 0.893); */
}

.title .photo > img {
    height: 100%;
    width: auto;
    /* Adjust the max-width as needed */
    background-color: transparent;
}

.title .photo {
    height: 80%;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        background-position: 0%;

    }
    50% {
        transform: scale(1.1);
        background-position: 100%;

    }
    100% {
        transform: scale(1);
        background-position: 0%;

    }
}

/* <----------------------------------------- About Me -----------------------------------------> */

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

#about h1 {
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
}

.long-info {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 1);
    border-radius: 50px;
    padding: 10px 10px;
    margin: 0 0 50px 0;
    z-index: 1;
    text-align: center;
}

.long-info p {
    margin: 0 auto;
}


.long-info strong {
    font-size: 1.25rem; 
}

.highlight-about {
    color: var(--pastel_orange);
}

.green-icon {
    color: var(--pastel_orange);
}

.icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    vertical-align: middle;
}

/* <----------------------------------------- Library -----------------------------------------> */

#library {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    padding-bottom: 50px;
}

#library .section {
    padding-right: 0;
    flex-direction: column
}

.container {
    width:100%;
    padding: 50px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container > h2 {
    height: 100%;
    width: 100%;
}

.card {
    width: 250px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    border: 2px solid var(--dark);
    margin: 40px 20px;

}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(112, 70, 36, 0.373);
    z-index: 1;
    pointer-events: none;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    z-index: 0;
}

.card-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(128, 123, 116, 0.162);
    backdrop-filter: blur(1px);
    border-radius: 15px;
    color: white;
    z-index: 10;
}

.card-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    padding: 15px 15px 0 15px;
}

.card-info {
    font-size: 16px;
    line-height: 25px;
    margin: 10px 0;
    font-weight: 400;
    padding: 0 15px;
}

.card-btn {
    display: none;
    color: black; /* Normal text color */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 500;
    height: 15%;
    background: rgba(255, 255, 255, 0.486);
    width: 100%; /* Adjust width as needed */
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin: auto 0 0 0;
    text-decoration: none; /* Removes underline */
}

.card-btn:hover {
    color: black; /* Maintain the same color on hover */
    text-decoration: none;
}

.card:hover {
    transform: scale(1.15);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card.projects:hover .card-btn, .card.articles:hover .card-btn {
    display: inline;
}


.videos:hover .card-body {
    display: flex;
    flex-direction: column;
}

.play-button {
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
    display: none;
    top: -10px;
}

.play-button > img{
    width: 100%;
}

.card.videos:hover .play-button {
    display: inline-block;
}
.card.videos:hover .card-info {
    /* Your styles here */
    display: none /* Example style */
}

.card.videos:hover .card-btn {
    display: inline-block;
}

.git-image {
    height: 100%;
}


/* <----------------------------------------- Tools -----------------------------------------> */
#tools {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-evenly;
}

#tools p {
    margin-top: 50px;
}

.bottom {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.bottom-1, .bottom-2 {
    padding: 0;
    margin: 0;
    margin-bottom: 75px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.bottom-1:hover .logos-slide-cs, .bottom-2:hover .logos-slide-math {
    animation-play-state: paused;
} 


.logos-slide-cs, .logos-slide-math {
    padding: 35px 0;
    display: inline-block;
}

.logos-slide-cs {
    animation: 17s slide infinite linear;
}

.logos-slide-math {
    animation: 15s slide infinite linear;
}

.logos-slide-cs > img, .logos-slide-math > img {
    height: 100px;
    margin: 0 65px;
    transition: transform 0.3s;
}

.logos-slide-cs > img:hover, .logos-slide-math > img:hover {
    transform: scale(1.3) translateY(-5px);
}


@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
/* <----------------------------------------- Contact -----------------------------------------> */

#contact {
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#contact .main {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.893);
    border-radius: 50px;
    padding: 30px;
    z-index: 1;
}

#contact > h2 {
    margin: 0 20px;
}

#contact > div {
    width: 70%;
    height: 70%;
}

textarea {
    display: block;
    width: 100%;
    padding: 5px 0;
}
label, input {
    display: block;
    height: 35px;
    width: 55%;
    padding: 10px 0; 
    margin: auto;
}

label {
    font-size: 0.9em;
    color: black;
}

input, textarea {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    background: white;
    opacity: 1;
    padding: 5px 0 5px 10px;
    outline: none;
    color: black;
    font-size: 1em;
    box-sizing: border-box;
    font-weight: 400;
    height: auto;
}

input:focus, textarea:focus {
    /* box-shadow: 0px 0px 8px white; */
}

.submit {
    padding: 5px;
    width: 30%;
    height: auto;
    margin: 50px auto 50px auto;
    padding: 5px 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transition: border;
    transition-duration: 0.3s;
    font-weight: 500;
}

.submit:hover {
    transition: background-color 0.5s ease;
    background-color: var(--light);
}

/* .submit:active {
    border: 1px solid white; 
    background-color: white;
} */

textarea {
    resize: none;
}

/* <----------------------------------------- Footer -----------------------------------------> */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
    background: var(--dark);
    color: white;
    padding: 40px 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    /* Ensure text within the paragraph is centered */
}



/* <----------------------------------------- Media Queries  ------------------------------------------> */
@media(max-width:1250px) {
    .long-info p,
    #tools p {
        font-size: 1rem;
    }

    .long-info strong {
        font-size: 1.2rem;
    }

    .long-info {
        height: 75%;
        width: 80%;
    }
}
@media(max-width:1000px) {
    .bottom-1, .bottom-2 {
        padding: 0;
        margin: 0;
        margin-bottom: 50px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .logos-slide-cs>img,
    .logos-slide-math>img {
        height: 75px;
        margin: 0 40px;
        transition: transform 0.3s;
    }
    .long-info p, #tools p {
        font-size: 0.8rem;
    }
    .long-info strong {
        font-size: 1.2rem;
    }
    .long-info {
        height: 75%;
        width: 80%;
    }
    #contact .main {
        width: 85%;
    }
    h1,
    h2 {
        font-size: 3.5rem;
    }
    #about > h2{
        display: block;
    }
    #about {
        flex-direction: column;
    }

    #contact p {
        font-size: 20px;
    }
    .submit {
        width: 50%;
        padding: 10px;
    }

}

@media(max-width:700px) {

    .bottom-1,
    .bottom-2 {
        padding: 0;
        margin: 0;
        margin-bottom: 50px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .logos-slide-cs>img,
    .logos-slide-math>img {
        height: 45px;
        margin: 0 10px;
        transition: transform 0.3s;
    }

    h1, h2 {
        font-size: 2.5rem;
    }
    
    p {
        font-size: 1.8rem;
    }
    .long-info p {
        font-size: 0.75rem;
    }

    .long-info strong {
        font-size: 0.8rem;
    }
    .hideOnMobile {
        display:none;
    }
    .menuButton {
        display: block;
    }
    .title .text h1 {
        font-size: 3rem;
        width: 100%;
        text-align: center;
        padding: 0 20px;
    }

    .title {
        padding: 20px;
        /* Add padding to the title section if needed */
    }
    .photo  {
        display: none;
    }

    .card {
        width: 200px;
        height: 300px;
    }

    .card-title {
        font-size: 24px;
    }

    .card-info {
        font-size: 12px;
    }

    .card-btn {
        font-size: 14px;
    }

    .parallax > h1 {
        font-size: 4.5rem;
    }
    section {
        padding: 50px 20px 0px 20px;
    }
    #tools {
        padding: 50px 0 0 0;
    }
    nav li {
        height: 50px;
    }
    .long-info {
        height: 70%;
    }

    p.point-1, p.point-2, p.point-3 > strong {
        font-size: 15px;
    }
    .main input {
        width: 100%;
        padding: 5px;
    }
    .main {
        height: 75%;
    }

    nav img {
        height: 40%;
        max-height: 30px; /* Adjust the maximum height for mobile */
        width: auto;
    }
}
@media(max-width:400px) {
    .hideOnMobile {
        width: 100%;
    }

    h1, h2 {
        font-size: 2rem;
    }

    p {
        font-size: 0.9rem;
    }

    .card-title {
        font-size: 20px;
    }

    .card-info {
        font-size: 10px;
    }

    .card-btn {
        font-size: 12px;
    }

    .parallax > h1 {
        font-size: 3rem;
    }
}
